<template>
    <v-container fluid fill-height class=text-xs-center>
        <v-layout row wrap justify-center align-center >       
                <v-flex xs12 md10 offset-md1>
                    <v-card class="elevation-4" flat > 
                        <v-spacer></v-spacer>
                        <v-flex xs12 md10 offset-md-1>
                            <div class="headline font-weight-regular">Вход</div>
                        </v-flex>
                    <v-card-text>
                        <v-form>
                            <v-text-field
                                v-model="email"
                                :rules="checkEmail"
                                label="E-mail"
                                type="text"
                                prepend-icon="person"
                                autocomplete="off"
                                autofocus
                                required    
                            ></v-text-field>
                            <v-text-field
                                v-model="password"
                                :rules="checkPassword"
                                label="Пароль"
                                type="password"
                                prepend-icon="lock"
                                required    
                            ></v-text-field>
                        </v-form>
                        <div class="err">{{GET_ERROR_TEXT}}</div>
                        <v-flex xs12 md10 offset-md-1>
                            <v-btn :disabled="isReady" flat center small @click.native="sendData">Войти</v-btn>          
                        </v-flex>
                    </v-card-text>
                    </v-card>
                </v-flex>           
        </v-layout>
    </v-container>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    data () {
        return {
            email: '',
            password: '',
            checkEmail: [
                v => !!v || 'Необходимо заполнить',
                v => /.+@.+/.test(v) || 'Некорректный e-mail'
            ],
            checkPassword: [
                v => !! v || 'Необходимо заполнить',
                v => v.length >= 6 || 'Пароль слишком короткий'
            ]
        }
    },
    computed: {
        ...mapGetters(['GET_ERROR_TEXT']),
        isReady () {
            if (this.email.length >= 5 && this.password.length > 7 ) {
                return false
            } else {
                return true
            }
        }
    },
    methods: {
        sendData: function () {
            const user = {
                email: this.email,
                password: this.password
            }
            this.$store.dispatch('SIGNIN', user)
                .then(rslt => {
                    this.$router.push('/profile')
                })
                .catch(e => {
                    console.log(e)
                })
        }
    }
}
</script>
<style scoped>
    .err {
        color: red
    }
</style>
