<template>
    <v-container fluid fill-height class="text-xs-center">
        <v-layout row wrap justify-center align-center>
            <v-flex xs12 md10 offset-md1>
                <v-card flat class="elevation-4">
                    <v-spacer></v-spacer>
                     <v-flex xs12 md10 offset-md-1>
                        <div class="headline font-weight-regular">Регистрация</div>
                     </v-flex>
                    <v-card-text>
                        <form>
                        <v-text-field
                            v-model="name"
                            label="Ваше имя"
                            :rules="requiredField"
                            type="text"
                            autocomplete="off"
                            autofocus
                            required>
                        </v-text-field>
                        <v-text-field
                            v-model="lastName"
                            label="Ваша фамилия"
                            type="text"
                            :rules="requiredField"
                            autocomplete="off"
                            required>
                        </v-text-field>
                        <v-text-field
                            v-model="age"
                            label="Ваш возраст"
                            mask="##"
                            autocomplete="off"
                            required>
                        </v-text-field>
                        <v-text-field
                            v-model="placeOfWork"
                            label="Компания, в которой Вы работаете"
                            :rules="requiredField"
                            type="text"
                            autocomplete="off"
                            required>
                        </v-text-field>
                        <v-text-field
                            v-model="position"
                            label="Ваша должность"
                            :rules="requiredField"
                            type="text"
                            autocomplete="off"
                            required>
                        </v-text-field>
                        <v-text-field
                            v-model="email"
                            label="E-mail"
                            :rules="checkEmail"
                            type="text"
                            autocomplete="off"
                            required>
                        </v-text-field>
                        <v-text-field
                            v-model="password"
                            label="Введите пароль"
                            type="password"
                            :rules="checkPassword"
                            autocomplete="off"
                            required>
                        </v-text-field>
                        <v-text-field
                            v-model="secondPassword"
                            label="Введите пароль еще раз"
                            type="password"
                            :rules="checkSecondPassword"
                            autocomplete="off"
                            required>
                        </v-text-field>
                        </form>
                        <div class="err">{{GET_ERROR_TEXT}}</div>
                        <v-flex xs12 md10 offset-md-1>
                            <v-btn :disabled="isReady" flat center small @click.native="sendData">Создать учетную запись</v-btn>
                        </v-flex>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
    data () {
        return {
            name: '',
            lastName: '',
            age: 0,
            email: '',
            password: '',
            secondPassword: '',
            placeOfWork: '',
            position: '',
            checkPassword: [
                v => !!v || "Пароль обязателен",
                v => v.length >= 8 || "Длина пароля должна быть больше семи символов"
            ],
            checkSecondPassword: [
                v => !! v || "Введите пароль еще раз",
                v => v === this.password || "Пароли должны совпадать"
            ],
            checkEmail: [
                v => !!v || 'E-mail обязателен',
                v => /.+@.+/.test(v) || 'E-mail некорректный'
            ],
            requiredField: [
                v => !!v || 'Поле обязательно',
                v => v.length >= 2 || 'Недопустимая длина'
            ]
        }
    },
    computed: {
        ...mapGetters(['GET_ERROR_TEXT']),
        isReady () {
            if (this.name.length >= 2 && this.lastName.length >= 2 && this.email.length > 5 && this.password.length > 7 && this.secondPassword.length === this.password.length) {
                return false
            } else {
                return true
            }
        }
    },
    methods: {
        sendData: function () {
            this.$store.dispatch('SIGNUP', {
                name: this.name,
                lastName: this.lastName,
                age: this.age,
                email: this.email,
                password: this.password,
                placeOfWork: this.placeOfWork,
                position: this.position
            }).then(result => {
                console.log('all ok')
            }).catch(e => {
                console.log(e)
            })
        }
    }    
}
</script>

<style scoped>
    .err {
        color: red
    }
</style>
