<template>
  <v-app>
    <v-content>
      <app-header></app-header>
      <router-view>
      </router-view>
    </v-content>    
    <v-footer class="pa-4" dark>
    
    <v-spacer></v-spacer>
    <div>&copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
  </v-app>
</template>

<script>
import AppHeader from './components/Header.vue'
import HomePage from './components/HomePage.vue'

export default {
  name: 'App',
  data () {
    return {
    }
  },
  components: {
    AppHeader,
    HomePage
  },
  created () {
    this.$store.dispatch('TRY_AUTO_LOGIN')
  }
}
</script>