<template>
  <v-container fill-height fluid grid-list-xl>
    <v-layout justify-center wrap>
      <v-flex xs12 md4>
        <material-card class="v-card-profile">
          <v-avatar slot="offset" class="mx-auto d-block" size="130">
            <img src="https://image.flaticon.com/icons/svg/78/78373.svg">
          </v-avatar>
          <v-card-text class="text-xs-center">
            <h4 class="card-title font-weight-light">{{GET_USER.name}}  {{GET_USER.lastName}}</h4>
            <p class="category text-gray font-weight-thin mb-3">{{GET_USER.placeOfWork}} / {{GET_USER.position}} <br> {{GET_USER.email}} </p>
          </v-card-text>
        </material-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {
            name: '',
            lastName: '',
            age: '',

        }
    },
    mounted () {
        this.$store.dispatch('PROFILE')
    },
    computed: {
        ...mapGetters(['GET_USER']),
    }
}
</script>
