<template>
    <nav>
        <!-- menu -->
        <v-toolbar flat dark app>
            <v-toolbar-title class="grey--text">
                <router-link to="/" tag="span" style="cursor: pointer">ILogin</router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <!-- menu items -->
            <v-toolbar-items>
                <v-btn
                    flat
                    v-for="item in menu"
                    :key="item.title"
                    :to="item.route"
                    :title="item.title">
                    <v-icon>{{item.icon}}</v-icon>
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <!-- end of menu -->
    </nav>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {
            drawer: false,
            token: ''
        }
    },
    mounted () {
        this.token = this.$store.getters.GET_TOKEN
    },
    computed: {
        ...mapGetters(['IS_AUTHENTICATED']),
        menu () {
            let menu = [{
                    title: 'Войти',
                    route: '/signin',
                    icon: 'vpn_key'
                },
                {
                    title: 'Зарегистрироваться',
                    route: '/signup',
                    icon: 'person_add',
                }]
            if (this.IS_AUTHENTICATED) {
                menu = [{
                    title: 'Выйти',
                    route: '/logout',
                    icon: 'input'
                    },
                    {
                    title: 'Профиль',
                    route: '/profile',
                    icon: 'person'
                }]
            }        
            return menu
        }
    }
}
</script>
