<template>
  <v-card>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex
              v-for="card in cards"
              v-bind="{ [`xs${card.flex}`]: true }"
              :key="card.title">
              <v-card>
                <v-img
                  :src="card.src"
                  height="200px"
                >
                  <v-container
                    fill-height
                    fluid
                    pa-2
                  >
                    <v-layout fill-height>
                      <v-flex xs12 align-end flexbox>
                        <span class="headline white--text" v-text="card.title"></span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-img>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
</template>

<script>
  export default {
    data: () => ({
      cards: [
        { title: '#1', src: 'https://images.wallpaperscraft.com/image/moss_trees_forest_113541_3840x2160.jpg', flex: 12 },
        { title: '#2', src: 'https://images.unsplash.com/photo-1460563594877-adf295bdf0ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=739&q=80', flex: 6 },
        { title: '#3', src: 'https://images.unsplash.com/photo-1462822257719-8e456a6b23ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=913&q=80', flex: 6 },
        { title: '#4', src: 'https://images.unsplash.com/photo-1462715795107-7771264fa203?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80', flex: 6},
        { title: '#5', src: 'https://images.unsplash.com/photo-1518802216549-5b4a3201e2af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80', flex: 6},
        { title: '#6', src: 'https://images.unsplash.com/photo-1511104592628-985b41b275b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80', flex: 12}
      ]
    })
  }
</script>
